<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width; initial-scale=1" />
        <title>{% block title %}Welcome!{% endblock %} - TaskLinker</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
                  integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
                  crossorigin="anonymous" referrerpolicy="no-referrer" />
            <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
            <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
            <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <div id="main-container">
            <nav>
                <a href="{{ path('app_home') }}" id="logo">
                    <img src="{{ asset('img/logo.png') }}" alt="Logo TaskLinker" />
                </a>
                <ul id="main-menu">
                    <li class="active">
                        <a href="{{ path('app_home') }}">
                            <i class="fa-solid fa-list-check"></i> Projets
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fa-regular fa-user"></i> Équipe
                        </a>
                    </li>
                </ul>
            </nav>
            <main>
                <header>
                    <div id="current-user"></div>
                    <div id="title-page">
                        {% block titlePage %}
                        {% endblock %}
                    </div>
                </header>
                <div id="content">
                {% block body %}{% endblock %}
                </div>
            </main>
        </div>
    </body>
</html>
